[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"

[dev-packages]
black = "*"
flake8 = "*"
pytest = "*"
starlette = "*"
requests = "*"
mypy = "*"

[requires]
python_version = "3.8"
