* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 1.5rem;
  font-size: 3rem;
}

.results {
  padding: 1.5rem;
  font-size: 1.5rem;
}

.errors {
  padding: 1.5rem;
  font-size: 1.5rem;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-heading {
  padding-bottom: 1.5rem;
}

.try-again-button {
  background-color: #ea4c89;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.try-again-button:hover,
.try-again-button:focus {
  background-color: #f082ac;
}

.landing-div {
  padding: 1.5rem;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-button {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 4rem;
  width: 8rem;
  text-align: center;
  font-size: 1rem;
  margin: 2rem;
}

.landing-button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.token-div {
  margin: 1rem;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.token-h4 {
  margin-top: 1.5rem;
}

.token-button {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 4rem;
  width: 4rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 2rem;
}

.token-button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.token-complete-button {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 3rem;
  width: 6rem;
  margin-top: 2rem;
  text-align: center;
  font-size: 1.5rem;
}

.token-complete-button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.form-div {
  margin: 1.5rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

.form {
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

#game-id-input {
  border: none;
  border-bottom: 3px solid rgba(205, 79, 216, 0.75);
  margin: 2rem;
  padding: 2rem;
  text-align: center;
  color: #ea4c89;
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

#game-id-input:focus {
  color: #ea4c89;
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

#pin-input {
  border: none;
  border-bottom: 3px solid rgba(205, 79, 216, 0.75);
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  color: #ea4c89;
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

#pin-input:focus {
  color: #ea4c89;
  font-size: 1rem;
  letter-spacing: 0.5rem;
}

.pin-complete-button {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 2rem;
  width: 4rem;
  margin-top: 1rem;
  text-align: center;
  font-size: 1rem;
}

.pin-complete-button:hover {
  background-color: aquamarine;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  animation: pulse 5s infinite;
}

.board {
  border-radius: 1rem;
}

.square {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 8rem;
  width: 8rem;
  text-align: center;
  font-size: 3rem;
}

.square:hover {
  background-color: aquamarine;
  cursor: pointer;
}

.square-clicked {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  height: 8rem;
  width: 8rem;
  text-align: center;
  font-size: 3rem;
}

.square-clicked:hover {
  cursor: not-allowed;
}

.square-won {
  box-shadow: 0px 0px 0px 3px rgba(205, 79, 216, 0.75);
  cursor: not-allowed;
  background-color: yellow;
  height: 8rem;
  width: 8rem;
  text-align: center;
  font-size: 3rem;
}

.progress-materializecss {
  margin: 5px 0;
  position: relative;
  height: 4px;
  display: block;
  width: 100%;
  background-color: aquamarine;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}
.progress-materializecss .indeterminate {
  background-color: #f082ac;
}
.progress-materializecss .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate 2s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}
.progress-materializecss .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  animation: indeterminate-short 2s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation-delay: 1s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }
  60% {
    left: 100%;
    right: -90%;
  }
  100% {
    left: 100%;
    right: -90%;
  }
}
@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }
  60% {
    left: 107%;
    right: -8%;
  }
  100% {
    left: 107%;
    right: -8%;
  }
}
.progress-container {
  width: 75%;
}
